<if(input.data && input.data.user)>
  <table>
    <tbody>
      <tr><td>id</td><td>${input.data.user.id}</td></tr>
      <tr><td>name</td><td>${input.data.user.name}</td></tr>
      <tr><td>email</td><td>${input.data.user.email}</td></tr>
      <tr><td>phone</td><td>${input.data.user.phone}</td></tr>
    </tbody>
  </table>
</if>
<div>user component</div>
