<div>
    <header>
      <nav>
        <a-tag href="/home">Home</a-tag> |
        <a-tag href="/user-list">Users List</a-tag> |
        <a-tag href="/room">Contact</a-tag>
      </nav>
    </header>
    <${input.renderBody}/>
    <footer>
      I'm here to stay
    </footer>
</div>
