<h1>UNI-Marko ${input.test}</h1>

class {
  onCreate() {
    console.log('on create home')
  }
  onMount() {
    console.log('on mount home')
  }
  onDestroy() {
    console.log('on destroy home')
  }

}
