<${state.component}></>


import history from '../../history'

import router from '../../router'

class {
  onCreate({ page }) {
    console.log()
    this.state = {
      component: require(`../${page}/index.marko`)
    }
    history.listen(this.handle.bind(this))
  }

  async handle({location}) {
    const route = await router.resolve(location);
    this.state.component = require(`../${route.page}/index.marko`);
  }
}
